/* Estilo general */
.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 4px;
}

.nav-menu a:hover {
    background-color: #2cb9cc34;
    color: #fff;
    text-decoration: none;
    
}
#titulo {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body {

    background-image: url('Imagenes/fondo.png');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    background-color: #000000;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    

}

/* Barra de navegación */
.navbar {
    background-color: #33333300;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
    padding: 0.9em 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Menú */
.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
    
}
.nav-menu a:hover {
    color: #2cb9cc;
    text-decoration: underline;
}

.nav-menu li:first-child {
    margin-right: auto;
}
.contenedor-formulario {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: fixed; /* Posiciona el formulario fijo en la ventana */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centro exacto */
}

.titulo-formulario {
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
}

.grupo-formulario {
    margin-bottom: 1.5rem;
}

.etiqueta-formulario {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

.input-formulario,
.textarea-formulario {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.input-formulario:focus,
.textarea-formulario:focus {
    border-color: #007bff;
    outline: none;
}

.boton-formulario {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.boton-formulario:hover {
    background-color: #0056b3;
}
footer {
    background-color: #33333300;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}